body {
    font-family: Arial;
    background-color:   #20c5b7;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/132/082/original/swamp-night-free-vector.jpg); 
    background-size: 1600px 800px;
    background-repeat: no-repeat ;
    background-size: cover;
   
} 

.container1 {
    background: rgb(130, 95, 46);
    border-radius: 40px;;
    opacity: 0.8;
    width: 770px;   
    height: 100px;
    justify-content: center;
    margin: auto;
}


h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button_about{
    padding: 10px 30px 10px;
    background-color: rgb(51, 170, 36);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 30px;
    position: sticky; top: 40px;
}

.button_search{
    padding: 10px 50px 10px;
    background-color: rgb(51, 170, 36);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 90px;    
    position: sticky; top: 40px;
}

.button_future{
    padding: 10px 50px 10px;
    background-color: rgb(51, 170, 36);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 430px;
    position: sticky; top: 40px;
}

a{
    text-decoration: none;
    font-size: 100%;

}

a:hover {
    background-color: rgb(55, 117, 75); /*принаведение меняет цвет */
}
button:hover {
    background-color: rgb(55, 117, 75);
}

.results {
    margin-top: 20px;
}
.frogimg{
    width: 190px; 
    height: 190px;
    justify-content: center;
    position: fixed; top: -40px; left: -40px;
}
.frogimg2 {
    width: 300px;
    justify-content: center;
    position: fixed; top: 210px;left: 1000px;
}
.text1{
    font-size: 28px;
    position: fixed; top: 285px; left:225px;
    background-color: #20c5b7;
    border-radius: 20px;
    width: 700px;
    height: 280px;
    opacity: 0.9;
    padding: 20px;
    
}
.text2{
    text-align: center;
    font-size: 40px;
    position: fixed; top: 231px; left:225px;
    background-color: #20c5b7;
    border-radius: 20px;
    width: 719px;
    height: 60px;
    opacity: 0.9;
    padding: 10px;
}